.delete{
  border-radius: 5px;
  border: 1px solid blue;
}

.blue{
  background: cornflowerblue;
  width: 50%;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  border: none;
}
.grey{
  background: grey;
  width: 50%;
  margin: 10px;
  padding: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  text-align: center;
  border: none;
}
