<div class="container">
  <div>
    <p><button class="delete" (click)="onClickDelete()">X</button></p>
    <input [ngClass]="onClassChange()" [value]="userInter" [value]="message" (input)="onChangeInput($event)"><input type="checkbox" name="che" (click)="checkBox()" checked="checked">

  </div>
</div>
