<div class="container">
  <div class="addMess">
    <h1>список дел</h1>
    <label><input name="message" [(ngModel)]="messageUse"></label>
    <button (click)="addMess($event)">add</button></div>

  <div>
    <p><app-todolist
      *ngFor="let mess of messageText; let i = index"
      [message]="mess.message"
      (delete)="onDelete(i)"
      (change)="refactorMessage(i, mess.message)"
    >
    </app-todolist></p>
  </div>
</div>

