.container{
text-align: center;
  border: 5px solid grey;
  min-width: 40%;
  margin: 0 auto;
  border-radius: 10px;
}

.addMess{
  background: cornflowerblue;
  display: inline-block;
  padding: 150px;
  border-radius: 10px;
  text-align: center;
  text-transform: uppercase;
}
